body {
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

canvas {
    border: 3px solid lightgrey
}

.inputContainer {
    margin: 0.5rem;
}